@import "tailwindcss";

@theme {
  --color-secondary-fixed: #d4e5ef;
  --color-surface-dim: #d8dadc;
  --color-surface-container-high: #e6e8ea;
  --color-tertiary-fixed-dim: #44d8f1;
  --color-on-tertiary-container: #acf0ff;
  --color-on-surface-variant: #424752;
  --color-primary-fixed-dim: #a9c7ff;
  --color-surface-container: #eceef0;
  --color-tertiary-fixed: #a1efff;
  --color-surface-container-low: #f2f4f6;
  --color-on-error-container: #93000a;
  --color-on-secondary: #ffffff;
  --color-surface: #f8f9fb;
  --color-surface-variant: #e0e3e5;
  --color-on-tertiary: #ffffff;
  --color-on-primary-container: #dae5ff;
  --color-secondary-fixed-dim: #b8c9d3;
  --color-surface-bright: #f8f9fb;
  --color-inverse-surface: #2d3133;
  --color-error: #ba1a1a;
  --color-inverse-primary: #a9c7ff;
  --color-outline: #727783;
  --color-on-secondary-fixed: #0d1e25;
  --color-tertiary: #005763;
  --color-on-secondary-container: #55656d;
  --color-secondary: #506169;
  --color-primary-container: #1565c0;
  --color-background: #f8f9fb;
  --color-on-primary: #ffffff;
  --color-on-surface: #191c1e;
  --color-on-tertiary-fixed: #001f25;
  --color-on-tertiary-fixed-variant: #004e59;
  --color-inverse-on-surface: #eff1f3;
  --color-secondary-container: #d1e2ec;
  --color-surface-container-lowest: #ffffff;
  --color-surface-tint: #005db7;
  --color-on-background: #191c1e;
  --color-primary-fixed: #d6e3ff;
  --color-on-error: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-primary-fixed-variant: #00468c;
  --color-tertiary-container: #007180;
  --color-outline-variant: #c2c6d4;
  --color-on-primary-fixed: #001b3d;
  --color-primary: #004d99;
  --color-surface-container-highest: #e0e3e5;
  --color-on-secondary-fixed-variant: #394951;
  --font-headline: var(--font-manrope);
  --font-body: var(--font-inter);
  --font-label: var(--font-inter);
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.bg-hero-pattern {
    background-image: linear-gradient(135deg, rgba(0, 77, 153, 0.85) 0%, rgba(21, 101, 192, 0.7) 100%), url('https://lh3.googleusercontent.com/aida-public/AB6AXuB2S3X472OHX4UQ7Jcx6gH0n_pAyr6WEx-FLMUG4jvHNRkqZrVy7IEAeq9Jf1bQh0iqcURfZV9DYMlp5yd9N_7J8BnOADcUVwe7FoEhYZcc253gK7MVXrtRfOzq9raHQFsNhvNAJgaeAMUD66ZvVzC0MdDBbF09LPHP3LQRmhNmq6cx4fROOaZ8kuVd2HZgSEnLX4TPBrL3s-Q-rIxh_e5CUx_Lrpcl9NnD1nAcohqu-b8ASbMnwTUWorI9DH2NMe3vdGdkxNOq6AOp');
    background-size: cover;
    background-position: center;
}
